div{

  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto 20px;
  grid-gap: 20px 25px;

  .cadaPokemon{
    border-radius: 10px;
    box-shadow: 0 2px 3px #262626;
    padding: 10px 15px;
    width: 200px;
    display:block;
    position: relative;
    text-align: center;

    h3{
      color: red;
    }

    img{
      width: 80%;
      height: 150px;
      object-fit: cover;
      margin: 0 auto 10px;
    }

  }

  button{
      display: block;
      margin: 0 auto;
      border-radius: 10px;
      width: auto;
      height: 30px;
      background-color: none;
  }

  button:hover{
    color: red;
  }
}
