.padre{
  width: 70%;
  height: 50%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 2px 3px #262626;
  position: relative;
  padding: 20px 20px;
  margin-top: 20%;

  h1{
    color: red;
    font-size: 30px;
  }

  img{
    width: 50%;
    height: 50%;
    object-fit: cover;
  }

  h2{
    font-size: 20px;
  }
    .habilidades{
      width: 80%;
      height: 80%;
    }
}
