div{
  h1{
    font-size:20px;
    }
  }

#contenedor1{
  p{
    color: red;
    }
  span{
    font-weight:bold;
    }
  }

#contenedor2{
  p{
  color:blue;
   }
  span{
      font-weight:bold;
  }
}
